:root {
  --primary-color: white;
  --secondary-color: rgb(61, 68, 73);
  --highlight-color: #3282b8;

  --dt-status-ok-color: greenyellow;
  --dt-status-warning-color: lightsalmon;
  --dt-status-error-color: lightred;
  --dt-status-online-color: greenyellow;
  --dt-status-offline-color: lightgray;

  --dt-status-esp32-color: greenyellow;
  --dt-status-esp8266-color: lightsalmon;

  --dt-padding: 5px;
  --dt-padding-sm: 3px;
  --dt-padding-gt: 7px;

  --dt-background-color-container: #2a3338;
  --dt-border-color: var(--secondary-color);
  --dt-bg-color: var(--highlight-color);
  --dt-text-color: var(--primary-color);
  --dt-bg-active-button: var(--highlight-color);
  --dt-text-color-button: var(--primary-color);
  --dt-text-color-active-button: var(--primary-color);
  --dt-hover-cell-color: var(--highlight-color);
  --dt-even-row-color: var(--secondary-color);
  --dt-focus-color: var(--highlight-color);
  --dt-input-background-color: var(--secondary-color);
  --dt-input-color: var(--primary-color);
}

body {
  background-color: var(--dt-background-color-container);
  font-family: sans-serif;
  color: var(--dt-text-color);
  font-size: 12px;
}

a, a:visited, a:hover, a:focus, a:active {
    color: var(--dt-text-color);
    text-decoration: none;
}

.material-icons {
  font-size: 16px;
}

header {
  border-bottom: solid 1px var(--dt-border-color);
  padding: var(--dt-padding-sm);
  display: flex;
  align-items: baseline;
  font-weight: bolder;
  font-size: 16px;
}

footer {
  padding: var(--dt-padding-sm);
  display: flex;
  align-items: baseline;
  font-size: 10px;
}

header p,
footer p {
  margin: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  font-size: 12px;
  padding: var(--dt-padding) var(--dt-padding);
}

th, td {
  padding: var(--dt-padding) var(--dt-padding);
}

th {
  font-weight: bolder;
  text-align: left;
  border-bottom: solid 1px var(--dt-border-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--highlight-color);
}

td {
  border-bottom: solid 1px var(--dt-border-color);
}

tbody tr:nth-child(even) {
  background-color: var(--dt-even-row-color);
}

tbody tr:hover {
  background-color: var(--dt-hover-cell-color);
}

tbody tr .ok::after,
tbody tr .warning::after,
tbody tr .error::after,
tbody tr .online::after,
tbody tr .offline::after,
tbody tr .new::after,
tbody tr .build::after,
tbody tr .complete::after {
  display: inline-block;
  vertical-align: middle;
}

tbody tr .ok::after {
  content: "OK";
  color: var(--dt-status-ok-color);
}

tbody tr .warning::after {
  content: "Warning";
  color: var(--dt-status-warning-color);
}

tbody tr .error::after {
  content: "Error";
  color: var(--dt-status-error-color);
}

tbody tr .online::after {
  content: "Online";
  color: var(--dt-status-online-color);
}

tbody tr .offline::after {
  content: "Offline";
  color: var(--dt-status-offline-color);
}

tbody tr .new::after {
  content: "";
  color: var(--dt-status-offline-color);
}

tbody tr .build::after {
  content: "";
  color: var(--dt-status-warning-color);
}

tbody tr .complete::after {
  content: "";
  color: var(--dt-status-ok-color);
}

tr .ok::before,
tr .warning::before,
tr .error::before,
tr .online::before,
tr .offline::before,
tr .new::before,
tr .build::before,
tr .complete::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

tbody tr .ok::before {
  background-color: var(--dt-status-ok-color);
}

tbody tr .warning::before {
  background-color: var(--dt-status-warning-color);
}

tbody tr .error::before {
  background-color: var(--dt-status-error-color);
}

tbody tr .online::before {
  background-color: var(--dt-status-online-color);
}

tbody tr .offline::before {
  background-color: var(--dt-status-offline-color);
}


tbody tr .new::before {
  background-color: var(--dt-status-offline-color);
}

tbody tr .build::before {
  background-color: var(--dt-status-warning-color);
}

tbody tr .complete::before {
  background-color: var(--dt-status-ok-color);
}
